.div-tag{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;

    /*  by default */
    /* text-overflow: clip; */


    /* text-overflow: ellipsis; */

    
    /*  only firefox supports this property  */
    /* text-overflow: '[..]'; */
    /* text-overflow: '---'; */
    text-overflow: ' etc. ';

}